<section class="entity-list">
	<dl>
	{% for result in data %}
	{% if result.me %}
	{% else %}
	<dt><a href="{{ result.link | escape }}">{{ result.title |escape }}</a> {{result.classSuffix}}</dt>
	<dd class="uri"><a href="{{ result.link | escape }}">{{ result.link | escape }}</a></dd>
	<dd class="description"><p>{{ result.shortdesc | escape }}</p></dd>
	{% endif %}
	{% endfor %}
	</dl>
</section>
