<section class="entity-list">
	<dl>
	{% for result in results %}
	{% if result.item.me %}
	{% else %}
	<dt>{{ result.index }}. <a href="{{ result.item.link | escape }}">{{ result.item.title |escape }}</a> {{result.item.classSuffix}}</dt>
	<dd class="uri"><a href="{{ result.item.link | escape }}">{{ result.item.link | escape }}</a></dd>
	<dd class="description"><p>{{ result.item.shortdesc | escape }}</p></dd>
	{% endif %}
	{% endfor %}
	</dl>
</section>
